.row
  .virtues-wrapper.large-12.columns
    = render 'layouts/messages'
    %h2.virtues-index-title Virtues
    %button.show-add-virtue Add Virtue
    .add-virtues-wrapper.large-6.columns.large-offset-3.small-10.small-offset-1(data-virtues="#{current_user.commitments.length}")
      %h3.add-virtue-title Add Virtue
      = simple_form_for(@virtue, remote: true) do |f|
        = div_for(@virtue, class: "ui-widget") do
          = f.input :name, label: "Find Virtue", collection: Virtue.all, required: false, input_html: { class: "add-virtues-select" }
          %p Can't find what you are looking for?
          %a.show-final-virtue(href="#") click here
        = div_for(@virtue, class: "final-virtue-wrapper") do
          = f.input :name, label: "New Virtue", required: true, input_html: { class: "final-virtue-input" }
        = f.fields_for :commitments do |ff|
          = ff.input :description, as: :text
        = f.submit "Submit", input_html: { class: "btn large-btn" }
        %a.hide-add-virtue(href="#") Hide

    .row
      .virtues-list-wrapper.large-10.columns.large-offset-1
        %ul
          - current_user.commitments.each do |c|
            %li
              %h4= c.virtue.name
              %p= c.description
