.row
  .wrapper
    .row
      .heading-wrapper
        = render 'layouts/messages'
        %h2.virtues-index-title Virtues
        .show-add-virtue
          %button Add Virtue
      .add-virtues-wrapper(data-virtues="#{current_user.commitments.length}")
        %h3.add-virtue-title Add Virtue
        = simple_form_for(@virtue, remote: true) do |f|
          =f.input :name, label: "Virtue", input_html: { class: "final-virtue-input", list: "virtues", placeholder: "start typing..." }
          %datalist#virtues
            %select
              = @virtues.each do |v|
                %option{value: "#{v.name}"}= v.name
          %p.virtue-input-note If the virtue you type does not exist, it will be created
          = f.fields_for :commitments do |ff|
            = ff.input :description, as: :text, input_html: { rows: 3 }
          = f.submit "Submit", class: "button"
          %a.hide-add-virtue(href="#") Hide

    .row
      .virtues-list-wrapper
        %ol.virtues-list
          - current_user.commitments.each do |c|
            .virtue-wrapper
              %li
                %h4.virtue-title= c.virtue.name
                %p.field-label description:
                %p.virtue-description= c.description
                .button-bar
                  %ul.button-group
                    %li
                      %a.tiny.button{:href => "#"} Edit
                    %li
                      %a.tiny.button{:href => "#"} Delete
