.row
  .wrapper
    = render "layouts/messages"
    .row
      .daily_report_wrapper
        %h2.new_daily_report_title Daily Report
        = simple_form_for(@daily_report) do |f|
          .row
            - current_user.virtues.each do |virtue|
              = f.fields_for :virtue do |ff|
                = ff.input :rating,
                           wrapper_html: { id: "virtue-#{virtue.id}-input" },
                           label: virtue.name,
                           input_html: {name: "daily_report[virtue_reports][#{virtue.id}][rating]"},
                           name: "daily_report[virtue.name][virtue_reports][rating]",
                           collection: [['No effort', 1], ['needs improvement', 2], ['satisfactory', 3], ['good', 4], ['exceptional', 5]],
                           as: :radio_buttons,
                           item_wrapper_class: 'radio-button-block',
                           checked: true
          .row
          = f.input :entry, as: :text, label: "Journal Entry", input_html: { rows: 8 }
          = f.submit "Submit Report", class: "button"
