%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        = link_to 'Thirteen Virtues', profile_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"} Menu
  .top-bar-section
    %ul.right
      - if user_signed_in?
        %li
          = link_to "Add Daily Report", new_daily_report_path
        %li
          = link_to "Virtues", virtues_path
        %li
          = link_to "View Journal", daily_reports_path
        %li
          = link_to "Sign Out", destroy_user_session_path, :method => :delete
      - else
        %li
          = link_to "Sign In", new_user_session_path
        %li
          = link_to "Sign Up", new_user_registration_path
